//Déclaration de variable:

$colorTitle: #451019
$colorBox: #9ECABD
$colorCircle: #E70BFD
$fontFamily: sans-serif

=transform($property,$color,$width)
  // -webkit-transform: $property
  // -ms-transform: $property
  transform: $property
  transition: 0.5s
  background-color: $color
  width: $width
  height: $width

=getCircle($size,$color)
  // width: $size
  // height: $size
  +getSize($size,$size)
  border-radius: $size/2
  background-color: $color

=getPadding($rightLeft,$topBottom)
  padding-left: $rightLeft
  padding-right: $rightLeft
  padding-top: $topBottom
  padding-bottom: $topBottom

=getMargin($rightLeft,$topBottom)
  margin-left: $rightLeft
  margin-right: $rightLeft
  margin-top: $topBottom
  margin-bottom: $topBottom

=getSize($width,$height)
  width: $width
  height: $height

body
  padding: 50px
  font: 14px $fontFamily

a
  color: #00B7FF

h1
  color: $colorTitle
  font-family: $colorTitle
  text-align: center

p
  color: $colorTitle
  font-family: $colorTitle

  //Ajout d'une mixin => créer des fonctions

.forme
  display: flex
  height: 400px
  +getMargin(50px,20px)
  +getPadding(50px,50px)

.box
  +transform(rotate(45deg),$colorTitle,100px)
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.insideBox
  +transform(rotate(45deg),$colorBox,50px)

.circle
  +getCircle(100px,$colorCircle)
