/* https://www.palettable.io/999999-A9C9B4-3D4053 */

* {
  transition: all .4s;
  word-break: break-all;
}

img {
  max-height: 100%;
  width: auto;
}

body {
  background-color: #1A1406;
  color: #DDD;
  font-size: 18px;
  font-family: 'Karla', monospace;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  text-align: center;
  /* color: #F99F00; */
  color: #E34C0B;
  text-transform: uppercase;
}

a {
  color: #893615;
}
a:visited {
  color: #893615;
}
a:active, a:hover {
  color: #E76B56;
}

.container {
  
  background-color: #1A1406;
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 0.5em 1em;
  position : relative;
}

