/* https://www.palettable.io/999999-A9C9B4-3D4053 */

/**** Chargement des polices en local */

/*  https://google-webfonts-helper.herokuapp.com/fonts/space-mono?subsets=latin */
/* space-mono-regular - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/space-mono/space-mono-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/space-mono/space-mono-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/space-mono/space-mono-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/space-mono/space-mono-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/space-mono/space-mono-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/space-mono/space-mono-v6-latin-regular.svg#SpaceMono') format('svg'); /* Legacy iOS */
  }
  /* space-mono-italic - latin */
  @font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/space-mono/space-mono-v6-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/space-mono/space-mono-v6-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/space-mono/space-mono-v6-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/space-mono/space-mono-v6-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/space-mono/space-mono-v6-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/space-mono/space-mono-v6-latin-italic.svg#SpaceMono') format('svg'); /* Legacy iOS */
  }
  /* space-mono-700 - latin */
  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/space-mono/space-mono-v6-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/space-mono/space-mono-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/space-mono/space-mono-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/space-mono/space-mono-v6-latin-700.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/space-mono/space-mono-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/space-mono/space-mono-v6-latin-700.svg#SpaceMono') format('svg'); /* Legacy iOS */
  }

/*        https://google-webfonts-helper.herokuapp.com/fonts/roboto-condensed?subsets=latin */
/* roboto-condensed-700 - latin */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/roboto-condensed/roboto-condensed-v19-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }

/* https://google-webfonts-helper.herokuapp.com/fonts/karla?subsets=latin */
/* karla-regular - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/karla-font/karla-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/karla-font/karla-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/karla-font/karla-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/karla-font/karla-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/karla-font/karla-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/karla-font/karla-v15-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
  }
  /* karla-800 - latin */
  @font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/karla-font/karla-v15-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/karla-font/karla-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/karla-font/karla-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/karla-font/karla-v15-latin-800.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/karla-font/karla-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/karla-font/karla-v15-latin-800.svg#Karla') format('svg'); /* Legacy iOS */
  }
  /* karla-italic - latin */
  @font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/karla-font/karla-v15-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/karla-font/karla-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/karla-font/karla-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/karla-font/karla-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/karla-font/karla-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/karla-font/karla-v15-latin-italic.svg#Karla') format('svg'); /* Legacy iOS */
  }
  /* karla-700italic - latin */
  @font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 700;
    src: url('assets/fonts/karla-font/karla-v15-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/karla-font/karla-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/karla-font/karla-v15-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/karla-font/karla-v15-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/karla-font/karla-v15-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/karla-font/karla-v15-latin-700italic.svg#Karla') format('svg'); /* Legacy iOS */
  }
  /* karla-800italic - latin */
  @font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: 800;
    src: url('assets/fonts/karla-font/karla-v15-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/karla-font/karla-v15-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/karla-font/karla-v15-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/karla-font/karla-v15-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/karla-font/karla-v15-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/karla-font/karla-v15-latin-800italic.svg#Karla') format('svg'); /* Legacy iOS */
  }

* {
    transition: all .4s;
    word-break: break-all;
}

img {
    max-height: 100%;
    width: auto;
}

body {
    background-color: #176366;
    color: #DDD;
    font-size: 18px;
    font-family: 'Karla', monospace;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    text-align: center;
}

a {
    color: #893615;
}
a:visited {
    color: #893615;
}
a:active, a:hover {
    color: #E76B56;
}


.container {
    /* Opacifier le fond du container de 20% */
    background-color: rgba(0,0,0,.4);
    /* background-color: rgba(255,255,255,.2); */
    font-size: 1.2em;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    padding: 0.5em 1em;
}