extends layout

block content
  h1= title
  p Welcome to #{title}

  h2.titre1  test SASS
  p.lorem1 Lorem ipsum dolor sit amet.
  p.lorem2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquam quaerat illo a sapiente pariatur repudiandae sunt deleniti? Molestiae itaque nostrum exercitationem velit doloremque facilis accusamus, impedit beatae ab soluta.

  h3.titre2 Un autre test SASS

  p.lorem1 Lorem ipsum dolor sit amet.
  p.lorem2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquam quaerat illo a sapiente pariatur repudiandae sunt deleniti? Molestiae itaque nostrum exercitationem velit doloremque facilis accusamus, impedit beatae ab soluta.

  .forme
    .box
      .insideBox

    .circle
